<!-- templates/layout.html.twig -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <!-- Подключаем AdminLTE и Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.css">
    {% block javascripts %}{% endblock %}
</head>
<body class="hold-transition sidebar-mini">

<div class="wrapper">
    {% include 'components/header.html.twig' %}
    {% include 'components/sidebar.html.twig' %}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="alert {{ (dbConnection.status == true) ? 'alert-success' : 'alert-danger' }}" role="alert">
                {{ dbConnection.message }}
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
    
    {% include 'components/footer.html.twig' %}
</div>

<!-- Подключаем необходимые скрипты -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
</body>
</html>
